.app-header {
  background: #bfbfbf;
  font-weight: bold;
  padding: 5px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 15px;
  padding: 15px;
}
.title {
  margin: 5px 0px 5px 0px;
}
.description {
  max-height: 65px;
  overflow: hidden;
}
.box .image {
  width: 100%;
}
.light-box-over {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #ffffffa6;
  top: 0;
  left: 0;
  display: grid;
  justify-content: center;
  align-items: center;
}

.light-box {
  background-color: #fff;
  width: 300px;
  height: 300px;
  border: 2px solid #000;
  text-align: justify;
  padding: 5px;
  overflow-y: auto;
}

.box:nth-child(1) {
  grid-column: span 8;
}
.box:nth-child(2) {
  grid-column: span 4;
}
.box:nth-child(n + 3) {
  grid-column: span 4;
}
.box:nth-child(n + 6) {
  grid-column: span 3;
}
.box:nth-child(n + 10) {
  grid-column: span 2;
}

@media screen and (max-width: 768px) {
  .box:nth-child(1) {
    grid-column: span 12;
  }
  .box:nth-child(n + 2) {
    grid-column: span 6;
  }

  .box:nth-child(n + 6) {
    grid-column: span 4;
  }
}

@media screen and (max-width: 480px) {
  .grid {
    display: block;
  }
  .box {
    margin: 10px 0;
  }
}
